@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Nunito+Sans&family=Oswald:wght@500&display=swap");
$textColor: #fff;
$primaryColor: #e53637;
@mixin linkStyle(
  $paddingTB: 0,
  $paddingLR: 0,
  $fontWeight: 500,
  $fontSize: 1.6rem,
  $color: $textColor
) {
  padding: $paddingTB $paddingLR;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $color;
  display: block;
}
@mixin buttonStyle(
  $paddingTB: 0,
  $paddingLR: 0,
  $fontWeight: 500,
  $fontSize: 1.6rem,
  $color: $textColor,
  $bgColor: $primaryColor
) {
  @include linkStyle($paddingTB, $paddingLR, $fontWeight, $fontSize, $color);
  background-color: $bgColor;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Mulish", sans-serif;
  background-color: #0b0c2a;
}
a {
  color: $textColor;
  &:hover {
    text-decoration: none;
    color: $textColor;
  }
}
ul,
li,
p,
label {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

#header {
  .logo {
    padding: 20px 0;
  }
  .header__nav {
    & > ul > li {
      display: inline-block;
      margin-right: 16px;

      & > a {
        @include linkStyle(20px, 20px, 800, 1.5rem, #b7b7b7);
        &:hover {
          color: $textColor;
        }
      }
    }
    li.active a {
      background-color: $primaryColor;
      color: $textColor;
    }
    .categories__item {
      position: relative;
      ul {
        transition: all 0.3s;
        top: 120%;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        li {
          width: 100%;
        }
        background-color: #fff;
        width: 150px;
        padding: 5px 0;
        position: absolute;
        a {
          @include linkStyle(5px, 20px, 500, 1.4rem, #111);
          &:hover {
            color: $primaryColor;
          }
        }
      }
      &:hover ul {
        top: 100%;
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .header__right {
    padding: 20px 0;
    label {
      display: inline-block;
      width: 100%;
      cursor: pointer;
    }
    a {
      color: $textColor;
      font-size: 1.6rem;
      margin-left: 16px;
      display: inline-block;
    }
    #searchModel {
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000;
      z-index: 50;
      .closeSearchModel {
        padding: 30px;
        i {
          font-size: 2.8rem;
          color: $textColor;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          border-radius: 50%;
          background-color: #333;
        }
      }
      input {
        padding: 0 10px;
        display: block;
        position: absolute;
        font-size: 4rem;
        max-width: 100%;
        top: 50%;
        left: 50%;
        outline: none;
        border: none;
        background-color: transparent;
        color: #999;
        border-bottom: 2px solid #333;
        transform: translate(-50%, -50%);
      }
    }
    #openSearchBar:checked ~ #searchModel {
      opacity: 1;
      visibility: visible;
    }
  }

  .mobile__nav {
    .mobile-icon {
      label {
        @include linkStyle(5px, 10px, 800, 1.6rem, $textColor);
        background-color: #222;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
      }
    }
    background-color: #4c4c4c;
    padding: 5px;
    .mobile__nav-list {
      transition: all 0.2s;
      height: 0;
      overflow: hidden;
      margin-left: 20px;
      label,
      a {
        border-radius: 4px;
        @include linkStyle(5px, 10px, 500, 1.4rem, $textColor);
        &:hover {
          background-color: #ccc;
          color: #222;
        }
      }
      label {
        position: relative;
        i {
          padding: 5px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    #openMobileNav:checked ~ .mobile__nav-list {
      height: max-content;
    }
    .sub__categories {
      margin-left: 20px;
      height: 0;
      overflow: hidden;
    }
    #openSubCategories:checked ~ .sub__categories {
      height: max-content;
    }
  }
}
.carousel-item {
  transition: all 1s;
}
#slider #carouselExampleIndicators .icon-slider {
  transition: all 0.5s;
  &:hover {
    background-color: $primaryColor;
  }
}
#slider {
  padding-top: 50px;
  #carouselExampleIndicators {
    position: relative;
    .carousel-indicators {
      li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
    }
    .carousel-inner {
      position: relative;
      overflow: hidden;
      .carousel-item {
        .slider__img {
          border-radius: 4px;
          background-image: url("../img/slider/hero-1.jpg.webp");
          background-size: cover;
          height: 80vh;
          background-position: bottom center;
        }
      }
      .watch__btn {
        visibility: hidden;
        opacity: 0;
        transition: all 0.25s;
        transition-delay: 0.1s;
        position: absolute;
        bottom: 90px;
        left: 50px;
        @include linkStyle(14px, 20px, 600, 1.4rem, $textColor);
        background-color: $primaryColor;
        border-radius: 4px;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 0.2rem;
      }
      .slider__desc {
        visibility: hidden;
        opacity: 0;
        transition: all 0.25s;
        position: absolute;
        bottom: 120px;
        padding: 10px 50px;
        color: $textColor;

        span {
          background-color: $textColor;
          @include linkStyle(5px, 12px, 500, 1.4rem, $primaryColor);
          display: inline-block;
        }
        p {
          font-size: 1.6rem;
        }
        h1 {
          margin: 25px 0 8px;
          font-size: 4.2rem;
          font-weight: 500;
          font-family: "Oswald", sans-serif;
        }
      }
    }
    .icon__prev,
    .icon__next {
      position: absolute;
      width: 66px;
      height: 66px;
      background-color: #242540;
      border: 6px solid #0b0c2a;

      a {
        width: 100%;
        line-height: 50px;
        font-size: 2.5rem;
        text-align: center;
        &:hover {
          color: $textColor;
        }
        transform: rotate(-45deg);
      }
    }
    .icon__prev {
      left: 0;
      transform: rotate(45deg) translateX(-70%);
      top: 50%;
    }
    .icon__next {
      right: 0;
      bottom: 50%;
      transform: rotate(45deg) translateX(70%);
    }
  }
}
#content {
  .product-item {
    margin-bottom: 40px;
  }
  color: $textColor;
  padding: 60px 0 80px;
  .product-item__episode {
    background-color: $primaryColor;
    border-radius: 4px;
    padding: 2px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.3rem;
  }
  .product-item__view {
    background-color: #3d3d3d;
    border-radius: 4px;
    padding: 2px 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.3rem;
  }
  .products {
    .section__product {
      margin-bottom: 50px;
    }
    .section__title {
      font-size: 2.4rem;
      padding-left: 20px;
      margin-bottom: 30px;
      position: relative;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      &:before {
        position: absolute;
        content: "";
        width: 4px;
        height: 32px;
        background-color: $primaryColor;
        left: 0;
      }
    }
    .section__title-all {
      display: block;
      font-size: 1.3rem;
      line-height: 2.4rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.2rem;
      margin-bottom: 30px;
      i {
        margin-left: 10px;
      }
    }

    .product-item__img {
      position: relative;
      font-size: 1.3rem;
      border-radius: 4px;
      background-repeat: no-repeat;
      height: 325px;
      background-size: cover;

      .product-item__comment {
        background-color: #3d3d3d;
        border-radius: 4px;
        padding: 2px 12px;
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
    }
    .product-item__desc {
      padding-top: 20px;
      .product-item__genre {
        font-size: 1rem;
        background-color: #3c3d55;
        padding: 1px 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        display: inline-block;
      }
      .product-item__name {
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
      }
    }
  }
  .top-views__title {
    display: inline-block;
    font-size: 1.8rem;
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    line-height: 32px;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 32px;
      left: 0;
      background-color: $primaryColor;
    }
  }
  .banner__top-views {
    margin-bottom: 60px;

    .top-views__filter {
      display: block;
      float: right;
      margin-bottom: 30px;
      li {
        display: inline-block;
        a {
          color: #b7b7b7;
          font-size: 1.3rem;
          line-height: 32px;
          margin-left: 7px;
        }
      }
      li.active > a {
        color: $textColor;
      }
    }
    .top-views__item {
      position: relative;
      border-radius: 4px;
      margin-bottom: 20px;
      height: 190px;
      background-image: url("../img/top-views/top-views-1.jpg.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .top-views__view {
        top: 10px;
        bottom: auto;
      }
      .top-views__name {
        position: absolute;
        font-size: 1.8rem;
        font-weight: 600;
        bottom: 25px;
        padding: 0 20px;
        letter-spacing: 0.1rem;
      }
    }
  }
  .banner {
    .banner__comment {
      .top-views__title {
        margin-bottom: 30px;
        width: 100%;
      }
      .comment-item {
        margin-bottom: 20px;
        .col-comment__img {
          padding-right: 0;
        }
        .comment__desc {
          display: inline-block;
          align-items: flex-start;
          li {
            display: inline-block;
            .comment__genre {
              font-size: 1rem;
              padding: 1px 10px;
              border-radius: 10px;
              background-color: #3c3d55;
              margin-bottom: 10px;
              display: block;
            }
          }
          .comment__name {
            font-size: 1.8rem;
            font-weight: 600;
            word-wrap: break-word;
            margin-bottom: 10px;
          }
          .comment__view {
            font-size: 1.3rem;
            color: #b7b7b7;
          }
        }
      }
    }
  }
}
#footer {
  position: relative;
  padding: 60px 0 40px;
  background-color: #070720;
  font-size: 1.5rem;
  .footer__links {
    li {
      display: inline-block;
      margin-right: 40px;
      a {
        color: #b7b7b7;
        font-weight: 600;
      }
    }
  }
  .footer__copyright {
    color: #3d3d3d;
  }
  #scrollToTop {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    a {
      font-size: 2.5rem;
      background-color: $primaryColor;
      display: block;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
    }
  }
}
#breadcrumb {
  padding-top: 35px;
  color: $textColor;
  font-size: 1.5rem;
  li {
    margin-right: 10px;
    padding-right: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    i {
      color: $primaryColor;
    }
  }
  .breadcrumb__item-last span {
    color: #b7b7b7;
  }
  .breadcrumb__item:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
  }
}
.romance__products {
  .romance__products__header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    padding: 0 -15px;
  }
  .col-order {
    text-align: right;
  }
  .title__order {
    margin-right: 16px;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  select {
    padding: 5px 15px;
    outline: none;
    margin-bottom: 30px;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}
#pagination {
  padding-top: 15px;
  ul li {
    display: inline-block;
    a {
      display: block;
      font-size: 1.5rem;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50%;
      color: #b7b7b7;
      &:hover {
        color: $textColor;
      }
    }
    &.active a {
      border: 1px solid #fff;
    }
  }
}
// ANIME DETAILS
.content__details {
  padding: 60px 0;
  color: $textColor;
  .details__overview {
    margin-bottom: 65px;
    .overview__img {
      background-image: url("../img/details/details-pic.jpg.webp");
      height: 440px;
      border-radius: 4px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 40px;
    }
    .overview__desc {
      .overview__desc__title {
        margin-bottom: 12px;
        display: inline-block;
        .desc__title__name {
          font-size: 3rem;
          font-weight: 600;
          margin-bottom: 15px;
        }
        .desc__title__author {
          font-size: 1.5rem;
          color: #b7b7b7;
        }
      }
      .overview__desc__rate {
        margin-bottom: 30px;
        font-size: 1.8rem;
        text-align: right;
        color: #b7b7b7;
        .desc__rate__item {
          font-size: 2rem;
          line-height: 30px;
          display: inline-block;
          color: #e89f12;
        }
        // .desc__rate__vote{
        //   text-align: center;
        //   display: block;
        // }
      }
      .overview__desc__paragraph {
        font-size: 1.8rem;
        color: #b7b7b7;
        margin-bottom: 15px;
      }
      .overview__desc__info {
        font-size: 1.5rem;
        margin-bottom: 15px;
        li {
          padding-left: 20px;
        }
        .desc__info__title {
          line-height: 30px;
          position: relative;
          color: #b7b7b7;
          width: 90px;
          display: inline-block;
          &::before {
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            background-color: #b7b7b7;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .overview__desc__interact {
        li {
          display: inline-block;
          a {
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            @include linkStyle(14px, 20px, 600, 1.3rem, $textColor);
            border-radius: 4px;
            background-color: #e53637;
            margin-right: 15px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
.deltails__review {
  ul {
    margin-bottom: 40px;
  }
  .deltails__review__content {
    margin-bottom: 50px;
  }
  .review__item__img {
    display: inline-block;
    margin-right: 20px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .review__item__info {
    width: 100%;
    position: relative;
    font-size: 1.6rem;
    color: #b7b7b7;
    display: inline-block;
    padding: 18px 30px 16px 20px;
    border-radius: 8px;
    background-color: #1d1e39;
    .item__info__name {
      color: $textColor;
    }
    .item__info__comment {
      font-size: 1.5rem;
    }
    &::before {
      position: absolute;
      content: "";
      border: 10px solid transparent;
      border-right: 10px solid #1d1e39;
      right: 100%;
      top: 10px;
    }
  }
}
.review__form {
  textarea {
    width: 100%;
    display: block;
    outline: none;
    padding: 12px 20px;
    font-size: 1.5rem;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  button {
    border: none;
    font-size: 10px;
    padding: 10px 15px;
    background-color: $primaryColor;
    text-transform: uppercase;
    border-radius: 2px;
    color: $textColor;
    letter-spacing: 0.15rem;
    font-weight: 600;
  }
}
.watching__episode {
  margin-bottom: 35px;
  .watching__episode__item {
    display: inline-block;
    a {
      transition: all 0.2s;
      display: block;
      font-size: 15px;
      padding: 10px 20px;
      margin: 0 15px 20px 0;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.2);
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
.watching__video {
  height: 500px;
  margin-bottom: 60px;
  video {
    height: 100%;
    width: 100%;
    outline: none;
  }
}
//OUR BLOG
.blog__banner {
  margin-top: 40px;
  position: relative;
  background-image: url("../img/slider/hero-1.jpg.webp");
  height: 300px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $textColor;
  .blog__banner__title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px -2px 4px #333;
    h1 {
      font-size: 4.8rem;
      font-family: "Oswald", sans-serif;
      font-weight: 600;
    }
    p {
      font-size: 2.4rem;
    }
  }

  .blog__banner__fade {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
}
.blog__content {
  .blog__item {
    position: relative;
    height: 580px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/blog/blog-b-1.jpg.webp");
    background-size: cover;
    margin: 0 -10px 10px;
    .blog__item__desc {
      position: absolute;
      width: 100%;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    .blog__item__time {
      font-size: 1.5rem;
      i {
        color: $primaryColor;
        margin-right: 10px;
      }
    }
    .blog__item__name {
      font-size: 2.4rem;
    }
  }
}
.blog-details__banner {
  color: $textColor;
  padding: 70px 0 30px;
  img {
    width: 100%;
    display: block;
  }
}
.blog-details__banner__title {
  p {
    font-size: 1.5rem;
    span {
      color: #b7b7b7;
    }
    margin-bottom: 30px;
  }
  h1 {
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 40px;
  }
}
.blog-details__social {
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    width: 23%;
    display: inline-block;
    margin: 0 5px 20px;
    a {
      display: block;
      i {
        margin-right: 10px;
      }
      border-radius: 2px;
      background-color: #0372b1;
      font-size: 1.5rem;
      padding: 15px 30px 15px 20px;
    }
  }
  li.active a {
    background-color: $primaryColor;
  }
}
.blog-details__content {
  padding-bottom: 100px;
  color: $textColor;
  .blog-details__title {
    font-size: 1.7rem;
    margin-bottom: 40px;
    text-align: justify;
  }
}
.blog-details__item {
  margin-bottom: 40px;
  .blog-details__item__name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 35px;
  }
  .blog-details__img {
    margin-bottom: 26px;
    img {
      width: 100%;
    }
  }
  .blog-details__item__desc {
    font-size: 1.7rem;
    text-align: justify;
  }
}
.blog-details__categories {
  margin-bottom: 70px;
  .blog-details__categories__item {
    display: inline-block;
    a {
      @include linkStyle(6px, 15px, 600, 1.2rem, #b7b7b7);
      margin-right: 6px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 2px;
      text-transform: uppercase;
    }
  }
}
.blog-details__direct {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 0 15px;
  margin-bottom: 65px;
  a {
    display: inline-block;
    padding: 20px 0;
    font-size: 1.7rem;
    i {
      color: #b7b7b7;
    }
  }
  .blog-details__direct__next {
    float: right;
  }
}
.blog-details__comment {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  .blog-details__comment__title {
    font-size: 2.4rem;
    margin-bottom: 26px;
    font-weight: 600;
  }
  ul {
    display: block;
  }
  .blog-details__comment__item {
    margin-bottom: 40px;
  }
  .comment__item__img {
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 50%;
  }
  .comment__item__time {
    display: block;
    font-size: 1.4rem;
    color: #b7b7b7;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .comment__item__name {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .comment__item__text {
    font-size: 1.4rem;
    color: #b7b7b7;
    margin-bottom: 25px;
  }
  .comment__item__interact {
    transition: all 0.3s;
    display: inline-block;
    font-size: 1.6rem;
    padding: 6px 20px;
    margin-right: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    letter-spacing: 0.2rem;
    &:hover {
      background-color: $primaryColor;
    }
  }
  .blog-details__comment__item-child {
    margin-left: 110px;
  }
}
.blog-details__user__comment {
  padding-top: 50px;
  .user__comment__title {
    font-size: 2.4rem;
    margin-bottom: 26px;
    font-weight: 600;
  }
  .user__comment__form {
    font-size: 1.5rem;
    & * {
      outline: none;
      padding: 15px;
      width: 100%;
      border-radius: 2px;
      border: none;
    }
    input[type="submit"] {
      width: min-content;
      font-size: 1.4rem;
      color: $textColor;
      background-color: $primaryColor;
      padding: 12px 30px;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.2rem;
    }
  }
}
.account__title {
  font-size: 3rem;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.section__account {
  padding: 0 40px;
}
.account {
  .account__form {
    .account__form__input {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      margin-bottom: 20px;
      background-color: #fff;
      i {
        font-size: 2rem;
        color: #ccc;
        padding: 15px 15px;
        position: relative;
        &::after {
          content: "";
          height: 35px;
          width: 1px;
          background-color: #b7b7b7;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      input {
        outline: none;
        padding: 15px 20px;
        width: 100%;
        border: none;
      }
    }
    .account__form__submit {
      @include buttonStyle(12px, 30px, 600, 1.3rem, $textColor, $primaryColor);
      margin-bottom: 15px;
    }
    .account__form__question {
      font-size: 1.5rem;
      float: right;
      line-height: 40px;
      a {
        color: $primaryColor;
      }
    }
  }
}
.direct__register {
  a {
    @include buttonStyle(12px, 42px, 600, 1.3rem, $textColor, none);
  }
}
.col-account {
  border-right: 1px solid #23243f;
}
.other__account {
  p {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0.2rem;
  }
}
.social__account {
  width: 100%;
  margin-bottom: 20px;
  @include buttonStyle(12px, 30px, 600, 1.3rem, $textColor, $primaryColor);
  position: relative;
  i {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.account__register {
  background-color: $primaryColor;
}
.account__facebook {
  background-color: #4267b2;
}
.account__twitter {
  background-color: #1da1f2;
}
